body {
  color: var(--text-color);
  background-color: var(--primary-color);
}

.app {
  position: relative;
  width: 75vw;
  height: 75vh;
  align-items: center;
  display: grid;
  justify-content: center;
}

.nav-buttons,
.skill-browser {
  width: 100%;
}

.nav-buttons {
  display: grid;
}

.nav-buttons__set {
  justify-content: center;
  display: flex;
}

.clickable {
  width: auto;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--text-color);
  /* border-radius: 5px; */
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.clickable:hover {
  background-color: var(--tertiary-color);
  cursor: pointer;
}

.archetype-select {
  text-transform: none;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin: 10px;
}

.alternate-button {
  background-color: var(--quinary-color);
}

.dark-button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.dark-button:hover {
  background-color: var(--tertiary-color);
  cursor: pointer;
}