body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #CCD5AE;
}

.app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Archetype Button Styles */
.archetype-button {
  background-color: #E9EDC9;
  color: #000;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.archetype-button:hover {
  background-color: #FEFAE0;
  cursor: pointer;
}

/* Borderless Button Styles */
.borderless {
  border: none;
}

/* Archetype Select Styles */
.archetype-select {
  background-color: #CCD5AE;
  color: #000;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

/* Checkbox Styles */
input[type="checkbox"] {
  transform: scale(1.5);
  margin: 10px;
}

.show-description {
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* CSV Button Styles */
.csv-button {
  background-color: #D4A373;
  color: #000;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.csv-button:hover {
  background-color: #ebb682;
  cursor: pointer;
}