@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --primary-color: #CCD5AE;
    --secondary-color: #E9EDC9;
    --tertiary-color: #FEFAE0;
    --quaternary-color: #FAEDCD;
    --quinary-color: #D4A373;
    --text-color: #000;
    --background-color: #000;
}

.melon {
    --primary-color: #CCD5AE;
    --secondary-color: #E9EDC9;
    --tertiary-color: #FEFAE0;
    --quaternary-color: #FAEDCD;
    --quinary-color: #D4A373;
    --text-color: #000;
}

.dark-mode {
    --primary-color: #424549;
    --secondary-color: #36393e;
    --tertiary-color: #282b30;
    --quaternary-color: #1e2124;
    --quinary-color: #7289da;
    --text-color: #ECFFFF;
}

.earth-tones {
    --primary-color: #5F6C37;
    --secondary-color: #B86F52;
    --tertiary-color: #56282D;
    --quaternary-color: #273617;
    --quinary-color: #D9DD92;
    --text-color: #ECFFFF;
}

.bubblegum {
    --primary-color: #cdb4db;
    --secondary-color: #ffc8dd;
    --tertiary-color: #ffafcc;
    --quaternary-color: #bde0fe;
    --quinary-color: #a2d2ff;
    --text-color: #000;
}

.honey {
    --primary-color: #ffe5b4;
    --secondary-color: #facc6b;
    --tertiary-color: #ffd131;
    --quaternary-color: #f5b82e;
    --quinary-color: #f4ac32;
    --text-color: #000;
}

.mint {
    --primary-color: #bee6ce;
    --secondary-color: #bcffdb;
    --tertiary-color: #8dffcd;
    --quaternary-color: #68d89b;
    --quinary-color: #4f9d69;
    --text-color: #000;
}

.the-bay {
    --primary-color: #96C0B7;
    --secondary-color: #878E88;
    --tertiary-color: #FEF6C9;
    --quaternary-color: #D4DDC7;
    --quinary-color: #725752;
    --text-color: #000;
}

.lemon-drop {
    --primary-color: #b2f8f2;
    --secondary-color: #fffc99;
    --tertiary-color: #BCD39C;
    --quaternary-color: #eafdcf;
    --quinary-color: #8e8358;
    --text-color: #000;
}

.the-ocean {
    --primary-color: #134074;
    --secondary-color: #8DA9C4;
    --tertiary-color: #13315C;
    --quaternary-color: #0B2545;
    --quinary-color: #8e8358;
    --text-color: #000;
}