.skill-tree {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
}

.archetype {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: var(--quaternary-color);
  border-radius: 5px;
}

.archetype-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.skill-card {
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.skill-card:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.skill-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.skill-info {
  font-size: 14px;
  margin-bottom: 5px;
}

.skill-description {
  font-size: 16px;
  margin: 0 10px;
}