/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Skill Tree Styles */
.skill-tree {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

/* Archetype Styles */
.archetype {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #FAEDCD;
  border-radius: 5px;
}

.archetype-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

/* Skill Card Styles */
.skill-card {
  background-color: #E9EDC9;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.skill-card:hover {
  background-color: #CCD5AE;
  cursor: pointer;
}

.skill-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.skill-prerequisite {
  font-size: 14px;
  margin-bottom: 5px;
}

.skill-description {
  font-size: 16px;
  margin: 0 10px;
}